name: "Build & Test Package"

on:
  push:
    paths:
      - '.github/workflows/build.yml'
      - '.swiftlint.yml'
      - 'Sources/**'
      - 'Tests/**'
      - 'Package.swift'
  pull_request:
    paths:
      - '.github/workflows/build.yml'
      - '.swiftlint.yml'
      - 'Sources/**'
      - 'Tests/**'
      - 'Package.swift'
  workflow_dispatch:

permissions:
  packages: read

env:
  TEST_DEVICE: "iPhone 17 Pro"
  XCODE_VERSION: "Xcode_26.0" # https://github.com/actions/runner-images/blob/main/images/macos/macos-26-arm64-Readme.md

jobs:
  build:
    name: "Build Package"
    runs-on: macos-26
    steps:
      - name: "Checkout Source"
        id: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #pin v5.0.0
        with:
          persist-credentials: false

      - name: "Prepare Build Environment"
        id: prepare
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "Switching to ${{ env.XCODE_VERSION }}"
          sudo xcode-select -s /Applications/${{ env.XCODE_VERSION }}.app/Contents/Developer
          xcode-select -p
          mkdir -p /Users/runner/derived_data
          echo "SWIFTLINT_CACHE_KEY=swiftlint_$(gh api repos/realm/swiftlint/releases/latest --jq '.assets[] | select(.name == "portable_swiftlint.zip") | .id')" >> "$GITHUB_OUTPUT"

      - name: "Restore Cached SwiftLint"
        id: restore_swiftlint
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 #pin v4.2.4
        with:
          key: ${{ steps.prepare.outputs.SWIFTLINT_CACHE_KEY }}
          path: |
            /Users/runner/bin/swiftlint

      - name: "Install SwiftLint"
        id: install_swiftlint
        if: ${{ steps.restore_swiftlint.outputs.cache-hit != 'true' }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mkdir -p /Users/runner/bin
          SWIFTLINT_URL=$(gh api repos/realm/swiftlint/releases/latest --jq '.assets[] | select(.name == "portable_swiftlint.zip") | .browser_download_url')
          cd /Users/runner/bin
          curl -L -o swiftlint.zip "${SWIFTLINT_URL}"
          unzip swiftlint.zip
          rm swiftlint.zip LICENSE
          chmod a+x swiftlint

      - name: "Install Go"
        id: install_go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 #pin v6.0.0
        with:
          go-version: "stable"
          cache-dependency-path: Tests/DNSKitTests/TestServer/go.sum

      - name: "Lint Code"
        id: lint
        run: |
          /Users/runner/bin/swiftlint lint --quiet --strict Sources
          cd Tests/DNSKitTests/TestServer
          go vet

      - name: "Build Package"
        id: build
        run: |
          xcodebuild -scheme DNSKit -derivedDataPath /Users/runner/derived_data -destination 'platform=iOS Simulator,name=${{ env.TEST_DEVICE }}' build

      - name: "Prepare Test Server"
        id: testserver_prepare
        run: |
          cd Tests/DNSKitTests/TestServer
          echo "Compiling test server"
          CGO_ENABLED=0 go build -o testserver
          echo "Generating certifiate & key"
          ./testserver -g
          xcrun simctl boot "${{ env.TEST_DEVICE }}"
          xcrun simctl keychain "${{ env.TEST_DEVICE }}" add-root-cert ./root.crt

      - name: "Start Test Server"
        id: testserver_start
        shell: bash
        run: |
          cd Tests/DNSKitTests/TestServer
          nohup ./testserver -c root.crt -k root.key &

      - name: "Run Automated Tests"
        id: certificatekit_tests
        run: |
          xcodebuild -scheme DNSKit -derivedDataPath /Users/runner/derived_data -destination 'platform=iOS Simulator,name=${{ env.TEST_DEVICE }}' test

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 #pin v5.0.0
        if: failure()
        with:
          name: test-results
          path: /Users/runner/derived_data/Logs/Test/Test-DNSKit-*.xcresult
