name: "Validate License"

on:
  push:
    paths:
      - '.github/workflows/validate_license.yml'
      - '.github/check-license.py'
      - 'Sources/**'
      - 'Tests/**'
      - 'Package.swift'
  pull_request:
    paths:
      - '.github/workflows/validate_license.yml'
      - '.github/check-license.py'
      - 'Sources/**'
      - 'Tests/**'
      - 'Package.swift'
  workflow_dispatch:

permissions:
  packages: read

jobs:
  validate_license:
    name: "Validate License"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        id: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd #pin v5.0.1
        with:
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: false
      
      - name: Validate License Header
        id: validate_license_header
        run: |
          python3 .github/check-license.py
